<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

# Objectives

- To create a markdown cell
- To create a Ordered List in markdown cell
- To create a Unordered list in markdown list
- To create  a table in markdown list

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:
1. NumPy 
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit-Learn

Data Science Tools|
-------------------
Jupyter
Visual Studio 
RStudio 
Apache Spark 
Orange

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# Addition
print(45+25)

70

In [6]:
#Product
print(12*3)

36

In [7]:
#Subtraction
print(77-37)

40

In [8]:
#Division
print(77/11)

7.0

In [10]:
#Power operator
a=20
print(a**2)

400

In [11]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [17]:
# This will convert 200 minutes to hours by diving by 60.
min=200
hours=200/60
print(hours)

3.3333333333333335

##  Author : 
Dr. G Lavanya